{% extends 'base/layout.html' %}

{% block content %}
<h1 class="my-4">Метки</h1>
<a href="{% url 'labels:create' %}" class="btn btn-primary mb-3">Создать метку</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
    </tr>
    {% for label in labels %}
    <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at }}</td>
        <td>
            <a href="{% url 'labels:update' label.pk %}">Изменить</a>
            <br>
            <a href="{% url 'labels:delete' label.pk %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}