{% extends 'base/layout.html' %}
{% load message_tags %}

{% block content %}
    <h1 class="my-4">Пользователи</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                    <a class="d-block" href="{% url 'accounts:update' user.id %}">Изменить</a>
                    <a class="d-block" href="{% url 'accounts:delete' user.id %}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}